@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500&family=Marck+Script&family=Rosario:ital,wght@0,700;1,600;1,700&family=Shantell+Sans:ital,wght@0,300;0,400;1,300&family=Ysabeau+Office:wght@500&display=swap');
body{
    margin: 0;
    background-color: rgb(152, 170, 170);
}
h3, header, ul{
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    font-family: 'Shantell Sans', cursive;
}
ul, li{
    list-style: none;
    margin-top: 1.1rem;
    margin-bottom: 1.5rem;
}
header{
    height:fit-content;
    background-color: rgba(90, 213, 199, 0.404);
    border: 2px solid rgb(71, 71, 71);
    box-shadow: 2px 2px 10px 2px;
    width: 40%;
    margin: 3% 20% 5% 30%;
}
.display-main{
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    padding-top: .5rem;
    font-family: 'Ysabeau Office', sans-serif;
    color: rgba(0, 0, 0, 0.871);
}
li{
    margin: 2px;
    text-align: left;
 }
 
main{
    height: 7rem;
    width: 40%;
    margin: 5% 30% 5% 30%;
    background-color: rgba(90, 213, 199, 0.404);
    border: 2px solid rgba(3, 23, 26, 0.077);
    box-shadow: 0px 0px 10px 0px;
    text-align: center;
    padding-top: 1rem;
}

.new-position{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 2%;
    padding-right: 2%;
}

button{
    text-align: left;
    height: 1.5rem;
}

.none{
    display: none;
}
input{
    display: block;
    width: 70%;
}
