.card{
    display: flex;
    height: 3.2rem;
    border: 1px solid rgb(237, 244, 246);
    background-color: rgb(169, 205, 205);
    box-shadow:rgb(18, 29, 18) 5px, 5px 5px 5px;
    margin: 2%;
    padding-right: 0;
    align-items: center;
    padding-left: .2rem;
}
#name{
    font-size:large;
    text-align: left;
    width: 100%;
    font-family: 'Shantell Sans', cursive;
    font-size: 1.1rem;
    line-height: 1rem;
    display: inline;
    min-width: 8rem;
}
#name:focus-visible{
    outline: -webkit-focus-ring-color none;
}
#btn{
    display: flex;
    padding-right: 0;
    text-align: right;
}
.done{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.407);
}
.btn-action{
    padding: 0.1rem;
    margin: .1rem;
}
span{
    padding: .2rem .5rem 1.5rem .5rem;
    font-size: larger;
    font-family: 'Shantell Sans', cursive;
    font-size: 1.3rem;
    text-align: center;
    border: .5px solid rgb(13, 13, 13);
    background-color: rgba(31, 220, 110, 0.77);
    height: .3rem;
    min-width: .8rem;
    margin-right: .4rem;
    color: rgb(26, 25, 25);
    border-radius: 20%;
}
.done-span{
    text-decoration: none;
    background-color: rgb(169, 205, 205);
}
